<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Redit Scraper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>

	<div class="container">
		<div class="row" id="header-box">
			<div class="col-md-4" id="logo">
				<span>Reddit Scrapper</span>
			</div>
			<div class="col-md-3">
				<span class="btn btn-light scrape" id="menu">Scrape Articles</span>
			</div>
			<div class="col-md-3">
				<span class="btn btn-light" id="menu">Saved Articles</span>
			</div>
		</div>
	</div>
	<div id="news-articles">

	</div>

	<script src="/assets/javascript/app.js"></script>
</body>

</html>